{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>



<body>



    <div class="shadow-sm bg-info text-center py-3">
        <a href="{% url 'front_page'%}" class="text-dark mx-3">Home</a>
        <a href="{% url 'view_task'%}" class="text-dark mx-3">View Tasks</a>
        <a href="{% url 'add_task'%}" class="text-dark mx-3">Add Task</a>
        <a href="{% url 'edit_task' 0 1%}" class="text-dark mx-3">Edit Tasks</a>
        <a href="{% url 'about_page'%}" class="text-dark mx-3">About</a>
    </div>

    <div class="d-flex text-align-center">
        <div class="container-fluid border mt-5 bg-light p-4 rounded shadow-sm" style="width: 600px;">

            <h1>About this app.</h1>
            <p>
                This app is here to help me track any potential assignments,
                appointments, or important dates and more!
            </p>

            <p>
                This app was made by Josef Stanek for the CSCI4380 class at UNO, with help from following Myoungkyu Song's contacts example.
            </p>


            <div>
                <div>
                    <p>Using this app you are able to:</p>
                    <ul>
                        <li>View your list of tasks and search for any you've added</li>
                        <li>Add tasks to your todo list</li>
                        <li>Edit and/or remove those tasks from your list</li>
                    </ul>
                </div>
            </div>
        </div>








        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>


</html>