{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Task</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="shadow-sm bg-info text-center py-3 ">
        <a href="{% url 'front_page'%}" class="text-dark mx-3">Home</a>
        <a href="{% url 'view_task'%}" class="text-dark mx-3">View Tasks</a>
        <a href="{% url 'add_task'%}" class="text-dark mx-3">Add Task</a>
        <a href="{% url 'edit_task' 0 1%}" class="text-dark mx-3">Edit Tasks</a>
        <a href="{% url 'about_page'%}" class="text-dark mx-3">About</a>
    </div>

    <div class="container mt-5 border text-align-center bg-light shadow-sm rounded"  style="width: 650px;">
        <div class="bg-light rounded">
            <h1>Add a task using the inputs below.</h1>
            <form method="POST">
                {% csrf_token %}
                <div>
                    <label for="task">Task:</label>
                    <input class="rounded mb-2" type="text" id="task" name="task" value="{{task_query}}" />
                </div>
                <div>
                    <label for="date">Date:</label>
                    <input class="rounded mb-2" type="text" id="date" name="date" value="{{date_query}}" />
                </div>
    
                <button type="submit" class="btn btn-primary rounded mb-2 shadow">Add Task</button>
            </form>
        </div>

    </div>

    {% if success%}
    <div class="container-fluid rounded mt-5 border text-align-center bg-light shadow-sm" style="width: 400px;">
        <p style="text-align: center;"><strong>Successfully added task!</strong></p>
        <p><strong>Task: </strong>{{added_task.task}}</p>
        <p><strong>Date: </strong>{{added_task.date}}</p>
    </div>
    {% endif %}


    <!--Need to add success after view tasks is implemented-->

</body>