{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<div class="Links">
    <a href="{% url 'front_page'%}">Home</a>
    <a href="{% url 'view_task'%}">View Tasks</a>
    <a href="{% url 'add_task'%}">Add Task</a>
    <a href="{% url 'edit_task'%}">Edit Tasks</a>
    <a href="{% url 'about_page'%}">About</a>


</div>


<body>
    <div>
        <h1>Welcome to the todo list app!</h1>
        <p>
            This is the main homepage and will allow you to easily traverse the app.
        </p>
        <p>To get started, click one of the tabs above!</p>
    </div>
</body>


</html>